
div.colorPicker { display: none; position: absolute; margin-left: 94px; margin-top: -98px; border: 1px solid #ddd;  background-color: #fff; -moz-border-radius: 9px; -webkit-border-radius: 9px; -khtml-border-radius:9px; border-radius: 9px;  }
div.colorView { display: block; float: left; margin: 1px 1px 0 0; height: 21px; width: 23px; border: 1px solid #ccc; -moz-border-radius: 4px; -webkit-border-radius: 4px; -khtml-border-radius:4px; border-radius: 4px; background-color: transparent }
div.colorPicker div { padding: 0 !important; }

div.properties { padding: 10px; background-color: #fff; -moz-border-radius: 9px; -webkit-border-radius: 9px; -khtml-border-radius:9px; border-radius: 9px;  }
div.properties h3 { padding: 0 0 7px 7px; margin: 0; }
div.properties div h3 { padding: 0 0 7px 7px; margin: 0; }

table.properties th,
table.properties td { background-color: #F9F9F9; padding: 4px 5px; vertical-align: top; line-height: 23px; text-align: left; }
table.properties th { font-weight: normal; width: 171px; }
table.properties td { width: 192px; }
table.properties select option { padding-right: 10px;}

table.properties input.number { width: 45px; font-family: courier new; }
table.properties input.color { width: 88px; font-family: courier new; }
table.properties input.text { width: 177px; font-family: courier new; }
table.properties input.field-error { border: 1px solid red; }
table.properties ul.padding { list-style: none; margin: 0; padding: 0; }
table.properties ul.padding li { list-style: none; margin: 0; padding: 0; display: block; float: left; line-height: 24px;}
table.properties ul.padding li.name { width: 75px; }
table.properties ul.padding li.values { width: 102px; }

table.properties ul.padding li.clear { clear: left; float: none; }

.hidden { display: none; }

img.saving { margin-left: 5px; position: relative; top: 3px; display: none; }
div.info { background-color: #FFFFE0; border: 1px solid #E6DB55; -moz-border-radius: 3px; -webkit-border-radius: 3px; -khtml-border-radius:3px; border-radius: 3px; padding: 5px; }

div.emu-error { background-color: #FFD8D8; border-color: #FF9191; }