
div.properties { float: none; margin: 10px 0 0 0; padding: 0; background-color: transparent; }
table.properties td { width: 18px; }
table.properties th { width: 177px; }

input.chkbox { position: relative; top: 4px; }

div.column-one { width: 229px; float: left; }
div.column-two { width: 229px; float: left; }

div.emu-export { padding: 0 10px 10px 10px; background-color: #fff; -moz-border-radius: 9px; -webkit-border-radius: 9px; -khtml-border-radius:9px; border-radius: 9px; float: left; margin-bottom: 10px; }
div.emu-import { padding: 0 10px 10px 10px; background-color: #fff; -moz-border-radius: 9px; -webkit-border-radius: 9px; -khtml-border-radius:9px; border-radius: 9px; float: left; }

div.properties h3 { font-weight: normal; font-style: italic; dfont-size: 13px; }

div.emu-import { width: 460px; }
div.emu-import table.properties td { width: auto; }

div.info { margin-bottom: 10px; }

/*
div.properties { padding: 10px; background-color: #fff; -moz-border-radius: 9px; -webkit-border-radius: 9px; -khtml-border-radius:9px; border-radius: 9px;  }
table.properties th,
table.properties td { background-color: #F9F9F9; padding: 4px 5px; vertical-align: top; line-height: 23px; text-align: left; }
table.properties th { font-weight: normal; width: 171px; }
table.properties td { width: 192px; }
table.properties select option { padding-right: 10px;}

table.properties input.number { width: 45px; font-family: courier new; }
table.properties input.color { width: 88px; font-family: courier new; }
table.properties input.text { width: 177px; font-family: courier new; }
table.properties input.field-error { border: 1px solid red; }
table.properties ul.padding { list-style: none; margin: 0; padding: 0; }
table.properties ul.padding li { list-style: none; margin: 0; padding: 0; display: block; float: left; line-height: 24px;}
table.properties ul.padding li.name { width: 75px; }
table.properties ul.padding li.values { width: 102px; }

table.properties ul.padding li.clear { clear: left; float: none; }
*/