/* Edit Product page - product details metabox */

.emuS table.product-details { width: 100%; margin-bottom: 10px; }
.emuS table.product-details td,
.emuS table.product-details th { background-color: #fff; padding: 5px; }
.emuS table.product-details th { text-align: left; }
.emuS div.product-action { text-align: right; }
.emuS img.product-loading { position: relative; left: -5px; top: 3px; display: none }
.emuS img.create-group-loading { position: relative; left: 5px; top: 3px; display: none; }
.emuS img.group-name-loading { position: relative; left: 5px; top: 3px; display: none; }
.emuS img.loading-image { disdplay: none; }

.ui-dialog-buttonset img.loading-image { float: right; position: relative; top: 15px; left: -8px; }

/*
 .emuS .variant-group { display: inline; }
.emuS .variant-group h3 a { float: right; }
.emuS .variant-group .variants { background-color: #fff; padding: 1px 1px 10px 1px; }
.emuS .variant-group .add-variant { margin: 5px 0px 5px 10px }
*/

.emuS .group-template { display: none; }
.emuS .variant-container { visibility: hidden }
.emuS .variants a.delete-group { float: right; margin: 13px 6px 0 0; text-decoration: none; color: #21759B}
.emuS .variants a.delete-group img { position: relative; top: 2px; }
.emuS .variants { width: 787px; }
.emuS .variants input.add-variant { float: right; margin: 15px 15px 0 0; }
.emuS .variants .ui-accordion-content { padding: 5px 25px 25px 22px; background: none; background-color: #fff }

.emuS .sale-strike { text-decoration: line-through }

.emuS .variant-group { position: relative; }
.emuS .variant-group table.variant-list {}
.emuS .variant-group table.hidden { display: none; }
.emuS .variant-group table { border-collapse: collapse; }
.emuS .variant-group table td,
.emuS .variant-group table th,
.emuS .variant-group table caption { background-color: #fff; padding: 5px; text-align: left; vertical-align: top; border: 2px solid #F6F6F6}
.emuS .variant-group table caption { text-align: left; font-weight: normal; font-style: italic }
.emuS .variant-group table .description { width: 175px; }
.emuS .variant-group table span.sku { color: #21759B; }
.emuS .variant-group table span.name { display: block; }
.emuS .variant-group table .price { width: 60px; text-align: right; }
.emuS .variant-group table .sale-price { width: 60px; text-align: right; }
.emuS .variant-group table .shipping { width: 55px; text-align: right;  }
.emuS .variant-group table .handling { width: 55px; text-align: right;  }
.emuS .variant-group table .weight { width: 80px; }
.emuS .variant-group table .status { width: 60px; }
.emuS .variant-group table .qty { width: 40px; text-align: right; }
.emuS .variant-group table .no-border { border: 0; }
.emuS .variant-group table tfoot .action { text-align: right; }
.emuS .variant-group table tr.row-template { display: none; }
.emuS .variant-group table.group-options th { width: 70px; }
.emuS .variant-group table.group-options { margin-bottom: 8px; }
.emuS .variant-group table.group-options td,
.emuS .variant-group table.group-options th { border: 0; vertical-align: middle !important; }
.emuS .variant-group .delete-variant { cursor: pointer; }
.emuS .variant-group table thead th { color: #666666; }
.emuS .variant-group tr.row-hover td,
.emuS .variant-group tr.row-hover th { background-color: #F6F6F6; cursor: pointer; cursor: hand; }
.emuS .variant-group tr.row-hover .no-border { background-color: #fff; }
.emuS .variant-group tr.variant-inactive td { opacity:0.4;filter:alpha(opacity=40) }



.emuS .add-group {}


/* Edit product dialog */

.emuS .emu-dialog tr.variant-name { display: none; }
.emuS .emu-dialog span.has-variants-message { font-style: italic; color: #bbb; }
.emuS .emu-dialog span.display-price { font-style: italic; }
.emuS .emu-dialog .column-one td,
.emuS .emu-dialog .column-one th { height: 32px; }
.emuS .emu-dialog img.delete-custom-var { cursor: pointer; cursor: hand }

/*
 .e-variants-group  .price { width: 70px; text-align: right; }
.e-variants-group  .weight { width: 70px; }
.sku { width: 100px; }
.e-variants-group  .desc { width: 200px; }
.e-variants-group table { margin: 5px; }
.e-variants-group table thead th { font-weight: bold; font-style: normal; font-size: 13px; background-color: transparent; padding: 8px; }
.e-variants-group table th { font-weight: normal; font-style: italic; }
.e-variants-group table th,
.e-variants-group table td { background-color: #F9F9F9; padding: 6px 8px; text-align: left; }
.e-variants-group table td.center { text-align: center; }
.e-variants-group table td input[type="checkbox"] { margin-right: 4px; }
.e-variants-group table td.radio label { font-size: 11px; line-height: 18px; }
.e-variants-group table td.radio label.first { margin-right: 6px; }
.e-variants-group #blank-variants-set { display: none; }
.e-action { margin-left: 15px }
.e-new-group { background-color: #EDEDED; margin: 5px; padding: 15px; }
a.remove-group { float: right; display: inline; paddding: 0 18px 3px 0; font-weight: normal; backgrdound: url( '../images/del.gif') no-repeat right 1px}
a.remove-itfem {  padding: 0 0 3px 18px; font-weight: normal; background: url( '../images/del.gif') no-repeat left 1px }

.e-product-options .price { width: 70px; text-align: right; }
.e-product-options .weight { width: 70px; }
.e-product-options table { margin: 5px; }
.e-product-options table th { font-weight: normal; font-style: italic; }
.e-product-options table th,
.e-product-options table td { background-color: #F9F9F9; padding: 6px 8px; text-align: left; }
.e-product-options table td.center { text-align: center; }
.e-product-options table td input[type="checkbox"] { margin-right: 4px; }
.e-product-options table td.radio label { font-size: 11px; line-height: 18px; }
.e-product-options table td.radio label.first { margin-right: 6px; }

.e-stock-options table { margin: 5px; }
.e-stock-options table th { font-weight: normal;}
.e-stock-options table th,
.e-stock-options table td { background-color: #F9F9F9; padding: 6px 8px; text-align: left; }
.e-stock-options table td.center { text-align: center; }
.e-stock-options table td input[type="checkbox"] { margin-right: 4px; }
.e-stock-options table td.radio label { font-size: 11px; line-height: 18px; }
.e-stock-options table td.radio label.first { margin-right: 6px; }

.e-status-options table { margin: 5px; }
.e-status-options table th { font-weight: normal;}
.e-status-options table th,
.e-status-options table td { background-color: #F9F9F9; padding: 6px 8px; text-align: left; }
.e-status-options table td.center { text-align: center; }
.e-status-options table td input[type="checkbox"] { margin-right: 4px; }
.e-status-options table td.radio label { font-size: 11px; line-height: 18px; }
.e-status-options table td.radio label.first { margin-right: 6px; }
*/

