/* Custom columns */
.fixed .column-e-p-image { width: 80px !important; }
.fixed .column-e-p-rating { width: 150px !important; }
.fixed .column-e-p-price { width: 90px !important; }
.fixed .column-e-o-print { width: 50px !important; }
