<div class="emu-shop">

	<form class="emu-page-not-found" method="post" action="">

		<h1>Page not found</h1>

		[messages]

		[conditional tag="find form"]

		<p>Sorry we can't find the page you were looking for.</p>

		<p>Please let us know what you were looking for and we'll do our best to help you find it.</p>

		<h2>Your Contact Information</h2>

		<div class="emu-form-column column-one">
		
			<div class="emu-form-row">
				<label for="first_name">First name*</label>
				<input type="text" name="first_name" value="[first name]" tabindex="1" class="emu-text" />
			</div>

			<div class="emu-form-row">
				<label for="email">Email Address*</label>
				<input type="text" name="email" value="[email]" tabindex="3" class="emu-text" />
			</div>

		</div>
		
		<div class="emu-form-column column-two">

			<div class="emu-form-row">
				<label for="first_name">Last name</label>
				<input type="text" name="last_name" value="[last name]" tabindex="2" class="emu-text" />
			</div>

		</div>
		
		<div class="emu-clear-left emu-form-row">
			<label for="comment">Your message or comment</label>
			<textarea name="comment" rows="12" cols="69" tabindex="4" class="emu-textarea">[comment]</textarea>
		</div>
		
		<p class="emu-action">
			<input type="hidden" name="e-action" value="pageNotFound" />
			<input type="hidden" name="e-plugin" value="[emu component]" />
			<input type="submit" name="e-button" value="Submit" tabindex="5" />
		</p>
		
		[/conditional]
		
	</form>

</div>
<!-- / emu-shop -->