<div class="emu-shop">

	<div class="emu-account-details">

		<h2>Account Orders</h2>

		<table>
		<tr>
			<th>Reference Number</th>
			<th>Order Date</th>
			<th>Total</th>
			<th>Shipping Address</th>
			<th>Delivery</th>
			<th>Status</th>
		</tr>
		[repeat tag="order row"]
		<tr>
			<td>[order reference number]</td>
			<td>[order date]</td>
			<td>[order grand total]</td>
			<td>[order shipping address]</td>
			<td>[order delivery option]</td>
			<td>[order status]</td>
		</tr>
		[/repeat]
		</table>

	</div>
	<!-- / account-details -->

	[template name="account-menu.htm"]

</div>
<!-- / emu-shop -->