<div class="emu-shop">

	<div class="emu-account-activate">

		<h3>Activate your account</h3>
		
		<p>Your account has been created but <strong>must be activated</strong> before you can use it. A confirmation email with details of how to activate your account has been sent to your email address</p>

	</div>
	<!-- / activate account -->

</div>
<!-- / emu-shop -->