<div class="emu-shop">

	<div class="emu-account-details">

		<h1>Account Profile</h1>

		<p>Please review your information below and add any missing information.</p>

		[messages]

		<form method="post" action="" autocomplete="off">

			<p class="emu-action">
				<input type="submit" name="e-button" value="Update" />
			</p>

			<h2>Personal Information</h2>

			<div class="emu-form-column column-one">
				<div class="emu-form-row">
					<label for="username">Username - cannot be changed</label>
					<input type="text" name="username" value="[username]" disabled="disabled" class="emu-text" />
				</div>
			</div>

			<div class="emu-form-column column-one emu-clear-left">
				<div class="emu-form-row">
					<label for="first_name">First name*</label>
					<input type="text" name="first_name" value="[first name]" class="emu-text first-name" />
				</div>
			</div>

			<div class="emu-form-column column-two">
				<div class="emu-form-row">
					<label for="last_name">Last name*</label>
					<input type="text" name="last_name" value="[last name]" class="emu-text last-name" />
				</div>
			</div>

			<div class="emu-form-column column-one emu-clear-left">
				<div class="emu-form-row">
					<label for="current_email_address">Current email address</label>
					<input type="text" name="current_email_address" value="[email]" disabled="disabled" class="emu-text" />
				</div>
			</div>

			<div class="emu-form-column column-one emu-clear-left">
				<div class="emu-form-row">
					<label for="new_email">New email address</label>
					<input type="text" name="new_email" value="[new email]" class="emu-text" />
				</div>
				<div class="emu-form-row">
					<label for="new_password">New password</label>
					<input type="password" name="new_password" value="[new password]" class="emu-text" />
				</div>
			</div>

			<div class="emu-form-column column-two">
				<div class="emu-form-row">
					<label for="new_email">Re-type new email*</label>
					<input type="text" name="new_email_confirm" value="[new email confirm]" class="emu-text" />
				</div>
				<div class="emu-form-row">
					<label for="new_password_confirm">Re-type new password*</label>
					<input type="password" name="new_password_confirm" value="[new password confirm]" class="emu-text" />
				</div>
			</div>

			<div class="emu-form-row emu-clear-left">
				<p><strong>Newsletter</strong></p>
				<p>With our e-newsletter, you get the inside scoop on special offers along with new products, events and more!</p>
				<label><input type="checkbox" name="newsletter" value="1" [newsletter checkbox] /> Yes! Sign me up for the Newsletter</label>
			</div>

			<p class="emu-action">
				<input type="hidden" name="e-action" value="accountProfile" />
				<input type="hidden" name="e-plugin" value="[emu component]" />
				<input type="submit" name="e-button" value="Update" />
			</p>

		</form>

	</div>
	<!-- / account-details -->

	[template name="account-menu.htm"]

</div>
<!-- / emu-shop -->
