<div class="emu-account-menu">

	<h3>My Account</h3>

	<ul class="account-menu">
		<li><a href="[page name='My Account' field='url']">Account Home</a></li>
		<li><a href="[page name='Account Profile' field='url']">Account Profile</a></li>
		<li><a href="[page name='Payment Manager' field='url']">Payment Methods</a></li>
		<li><a href="[page name='Account Orders' field='url']">Orders</a></li>
		<li><a href="[page name='Address Book' field='url']">Address Book</a></li>
	</ul>

</div>