<div class="emu-shop">

	<div class="emu-account-details emu-address-book">
		
		<h1>Address Book</h1>

		[template tag="addresses"]

		[messages]
		
		<ul>
			[repeat tag="address"]
			<li>
				<form method="post" action="" autocomplete="off">
					<p><strong>[first name] [last name]</strong> - [address aggregate comma]</p>
					<p>[defaults]</p>
					<p><input type="submit" name="e-button" value="Edit" /><input type="submit" name="e-button" value="Delete" /><input type="hidden" name="e-action" value="addressBook" /><input type="hidden" name="e-plugin" value="[emu component]" /><input type="hidden" name="address_id" value="[address id]" /></p>
				</form>
			</li>
			[/repeat]
		</ul>
		
		[/template]

		[template tag="address form"]
		<form method="post" action="" autocomplete="off">

			<h2>[edit title] Address</h2>

			[messages]

			<div class="emu-form-column column-one">

				<div class="emu-form-row">
					<label for="first_name">First name*</label>
					<input type="text" name="first_name" value="[first name]" tabindex="1" class="emu-text" />
				</div>

				<div class="emu-form-row">
					<label for="address_line_one">Address Line One*</label>
					<input type="text" name="address_line_one" value="[address line one]" tabindex="3" class="emu-text" />
				</div>

				<div class="emu-form-row">
					<label for="city">City*</label>
					<input type="text" name="city" value="[city]" tabindex="5" class="emu-text" />
				</div>				
				
				<div class="emu-form-row">
					<label for="country">Country*</label>
					<select name="country" tabindex="7" class="emu-select"><option value="">Select a country</option>[countries]</select>
				</div>	
				
				<div class="emu-form-row">
					<label for="phone_number">Contact Phone number*</label>
					<input type="text" name="phone_number" value="[phone number]" tabindex="9" class="emu-text" />
				</div>
				
			</div>
				
			<div class="emu-form-column column-two">
				
				<div class="emu-form-row">
					<label for="first_name">Last name*</label>
					<input type="text" name="last_name" value="[last name]" tabindex="2" class="emu-text" />
				</div>
				
				<div class="emu-form-row">
					<label for="address_line_two">Address Line Two</label>
					<input type="text" name="address_line_two" value="[address line two]" tabindex="4" class="emu-text" />
				</div>
				
				<div class="emu-form-row">
					<label for="postal_code">Postal code*</label>
					<input type="text" name="postal_code" value="[postal code]" tabindex="6" class="emu-text" />
				</div>	
				
				<div class="emu-form-row">
					<label for="country">State*</label>
					<select name="selected_state" class="[selected state class] emu-select">[states]</select><input type="text" tabindex="8" name="entered_state" value="[entered state]" class="[entered state class] emu-text" />
				</div>	
				
			</div>			
						
			<div class="emu-form-row emu-clear-left">
				<label><input type="checkbox" name="default_billing" value="1" [default billing checkbox] /> Make this my default billing address</label>
				<label><input type="checkbox" name="default_shipping" value="1" [default shipping checkbox] /> Make this my default shipping address</label>
			</div>
			
			<p class="emu-action">
				<input type="submit" name="e-button" value="[button value]" />
				<input type="hidden" name="e-action" value="addressBook" />
				<input type="hidden" name="e-plugin" value="[emu component]" />
				<input type="hidden" name="address_id" value="[address id]" />
			</p>

		</form>

		[/template]
		
	</div>
	<!-- / account details -->

	[template name="account-menu.htm"]

</div>
<!-- / emu-shop -->
	