<div class="emu-shop">

	[order summary]

	<form method="post" action="" autocomplete="off" class="emu-basket">

 		<h1>My Shopping Bag</h1>

		[basket messages]

		<p>Checkout to save any changes and continue to confirm your order.</p>

		<table>
			<tr>
				<th colspan="2">Product</th>
				<th class="product-price">Price</th>
				<th class="product-qty">Qty</th>
				<th class="product-total-cost">Total</th>
			</tr>
			[repeat tag="basket row"]
			<tr>
				<td class="product-image">[product image size one]</td>
				<td class="product-name">
					<a href="[product url]">[product name]</a>
					<span class="variant-description">[variant description]</span>
					<span class="product-options">[selected product options]</span>
					<input type="submit" name="remove-[item ref]" value="Remove" class="remove" /><input type="hidden" name="item_ref[]" value="[item ref]" />
				</td>
				<td class="product-price">[price]</td>
				<td class="product-qty"><input type="text" name="item_qty[]" value="[quantity]" class="emu-text product-qty" /></td>
				<td class="product-total-cost">[total]</td>
			</tr>
			[/repeat]
			<tr>
				<td colspan="3"></td>
				<td>Sub-total</td>
				<td class="basket-sub-total">[order basket items sub total]</td>
			</tr>
		</table>


		<p class="emu-action">
			<input type="submit" name="e-button" value="Update" />
			<input type="submit" name="e-button" value="Checkout" />
			<input type="hidden" name="e-action" value="basket" />
			<input type="hidden" name="e-plugin" value="[emu component]" />
		</p>

	</form>

</div>
<!-- / emu-shop -->
