<div class="emu-shop">

	[order summary]

	<form class="emu-confirmation" method="post" action="" autocomplete="off">

		<h1>Order Review</h1>

		<ul class="shopping-steps">
			<li>1. Shipping</li>
			<li>2. Billing</li>
			<li>3. Delivery</li>
			<li><strong>4. Order Review</strong></li>
			<li>5. Payment</li>
			<li>6. Order Confirmation</li>
		</ul>

		<p>Please review your order before continuing to payment.</p>

		<div class="review-row emu-clear-left">

			<div class="order-section">

				<p class="section-header">Shipping Address &raquo; <a class="change" href="[page name='Shipping' field='url']">Change</a></p>

				<p class="customer-info">
					[shipping first name] [shipping last name]
					<br />
					[shipping address aggregate]
				</p>

			</div>

			<div class="order-section">

				<p class="section-header">Billing Address &raquo; <a class="change" href="[page name='Billing' field='url']">Change</a></p>

				<p class="customer-info">
					[billing first name] [billing last name]
					<br />
					[billing address aggregate]
				</p>

			</div>

			<div class="emu-clear-left"></div>

		</div>
		<!-- / review row -->

		<div class="review-row">

			<div class="order-section">

				<p class="section-header">Shipping Method [conditional tag="delivery change link"] &raquo; <a class="change" href="[page name='Delivery' field='url']">change</a>[/conditional]</p>

				<p class="customer-info">[shipping method]</p>

			</div>

			<div class="emu-clear-left"></div>

		</div>
		<!-- / review row -->

		<div class="review-row">

			<div class="order-comments">

				<p class="section-header">Comments to send with your order</p>

				<textarea name="order_comments" rows="3" cols="73">[order comments]</textarea>

			</div>

		</div>
		<!-- / review row -->

		<div class="review-row">

			<p class="section-header">Order Items &raquo; <a class="change" href="[page name='Basket' field='url']">Change</a></p>

			[basket]

		</div>

		<p class="emu-action">
			<input type="hidden" name="e-action" value="confirmation" />
			<input type="hidden" name="e-plugin" value="[emu component]" />
			<input type="submit" name="e-button" value="Continue" />
		</p>

	</form>


</div>
<!-- / emu-shop -->