<div class="emu-shop">

	<form method="post" action="" class="emu-customer-care">

		<h1>Customer Support</h1>

		[messages]

		[conditional tag="customer care form"]
		
		<h2>What is your question regarding?</h2>

		<div class="emu-form-row">
			<label for="order_number">If available please provide your order number (e.g. EMU30403)</label>
			<input type="text" name="order_number" value="" />
		</div>

		<div class="emu-form-row">
			<p><strong>Product Question</strong></p>
			<label><input type="checkbox" name="questions[]" value="How to use or apply a product" /> How to use or apply a product</label>
		</div>
		
		<div class="emu-form-row">
			<p><strong>Product Availability</strong></p>
			<label><input type="checkbox" name="questions[]" value="Where can I buy products near me?" /> Where can I buy products near me?</label>
			<label><input type="checkbox" name="questions[]" value="Can I obtain a product that is no longer available?" /> Can I obtain a product that is no longer available?</label>
			<label><input type="checkbox" name="questions[]" value="Can you recommend an alternative for a discontinued product?" /> Can you recommend an alternative for a discontinued product?</label>
		</div>
		
		<div class="emu-form-row">
			<p><strong>Website</strong></p>
			<label><input type="checkbox" name="questions[]" value="My online account username or password" /> My online account username or password</label>
			<label><input type="checkbox" name="questions[]" value="General questions/comments about the website" /> General questions/comments about the website</label>
		</div>
		
		<div class="emu-form-row">
			<p><strong>In-store Service</strong></p>
			<label><input type="checkbox" name="questions[]" value="Service at a Store" /> Service at a Store</label>
		</div>
		
		<h3>Your Contact Information</h3>

		<div class="emu-form-column column-one">
		
			<div class="emu-form-row">
				<label for="first_name">First name*</label>
				<input type="text" name="first_name" value="[first name]" tabindex="1" class="emu-text" />
			</div>

			<div class="emu-form-row">
				<label for="email">Email Address*</label>
				<input type="text" name="email" value="[email]" tabindex="3" class="emu-text" />
			</div>
		
		</div>
		
		<div class="emu-form-column column-two">

			<div class="emu-form-row">
				<label for="first_name">Last name*</label>
				<input type="text" name="last_name" value="[last name]" tabindex="2" class="emu-text" />
			</div>

		</div>
		
		<div class="emu-form-column column-one emu-clear-left">

			<div class="emu-form-row">
				<label for="address_line_one">Address Line One</label>
				<input type="text" name="address_line_one" value="[address line one]" tabindex="3" class="emu-text" />
			</div>

			<div class="emu-form-row">
				<label for="city">City</label>
				<input type="text" name="city" value="[city]" tabindex="5" class="emu-text" />
			</div>				
			
			<div class="emu-form-row">
				<label for="country">Country</label>
				<select name="country" tabindex="7" class="emu-select"><option value="">Select a country</option>[countries]</select>
			</div>	
			
			<div class="emu-form-row">
				<label for="phone_number">Contact Phone number</label>
				<input type="text" name="phone_number" value="[phone number]" tabindex="9" class="emu-text" />
			</div>

		</div>
		
		<div class="emu-form-column column-two">
	
			<div class="emu-form-row">
				<label for="address_line_two">Address Line Two</label>
				<input type="text" name="address_line_two" value="[address line two]" tabindex="4" class="emu-text" />
			</div>
			
			<div class="emu-form-row">
				<label for="postal_code">Postal code</label>
				<input type="text" name="postal_code" value="[postal code]" tabindex="6" class="emu-text" />
			</div>	
			
			<div class="emu-form-row">
				<label for="country">State</label>
				<select name="selected_state" class="[selected state class] emu-select">[states]</select><input type="text" tabindex="8" name="entered_state" value="[entered state]" class="[entered state class] emu-text" />
			</div>	
			
		</div>
		
		<div class="emu-form-row emu-clear-left">
			<label for="comment">Your message or comment</label>
			<textarea name="comment" rows="12" cols="68" tabindex="11" class="emu-textarea"></textarea>
		</div>
		
		<p class="emu-action">
			<input type="hidden" name="e-action" value="customerCare" />
			<input type="hidden" name="e-plugin" value="[emu component]" />
			<input type="submit" name="e-button" value="Submit" tabindex="12" />
		</p>
		[/conditional]
		
	</form>

</div>
<!-- / emu-shop -->