<div class="emu-shop">

	[order summary]

	<form class="emu-delivery" method="post" action="" autocomplete="off">

		<h2>Delivery Options</h2>

		<ul class="shopping-steps">
			<li>1. Shipping</li>
			<li>2. Billing</li>
			<li><strong>3. Delivery</strong></li>
			<li>4. Order Review</li>
			<li>5. Payment</li>
			<li>6. Order Confirmation</li>
		</ul>

		[messages]

		<p>[charge description]</p>

		<div class="charge-options">
			[charge options]
		</div>

		<p class="emu-action">
			<input type="hidden" name="e-action" value="delivery" />
			<input type="hidden" name="e-plugin" value="[emu component]" />
			<input type="submit" name="e-button" value="Continue" />
		</p>


	</form>

</div>
<!-- / emu-shop -->

