<div class="emu-shop">

	<div class="emu-login">

		<form class="emu-form-column column-one" method="post" action="[page name='Login' field='url']" autocomplete="off">

			<h2>Already have an account?</h2>

			<p>Enter your email address and password below. If you have forgotten your password we can <a href="[reset password url]">send you a new password</a>.	
			
			[login messages]
			
			<div class="emu-form-row">
				<label for="login_email">Email address*</label>
				<input type="text" name="login_email" value="[login email]" class="emu-text" /><span class="field-info">e.g. jim@gmail.com</span>
			</div>

			<div class="emu-form-row">
				<label for="login_password">Password</label>
				<input type="password" name="login_password" value="[login password]" class="emu-text" />
			</div>

			<p class="emu-action">
				<a href="[reset password url]">Forgot your password?</a> <input type="submit" name="e-button" value="Login" /> 
			</p>

			<input type="hidden" name="return" value="[return url]" />
			<input type="hidden" name="e-action" value="login" />
			<input type="hidden" name="e-plugin" value="[emu component]" />
			
		</form>
		
		<form class="emu-form-column column-two" method="post" action="[page name='Login' field='url']" autocomplete="off">

			<h2>New Customers</h2>

			<p>Creating an account is easy plus you can sign up for our newsletter to be the first to learn about new products and special offers.</p>

			[registration messages]
		
			<div class="emu-form-row">
				<label for="email">Email address*</label>
				<input type="text" name="email" value="[email]" class="emu-text" /><span class="field-info">e.g. jim@gmail.com</span>
			</div>
			
			<p class="emu-action">
				<input type="submit" name="e-button" value="Register" />
			</p>

			<input type="hidden" name="return" value="[return url]" />
			<input type="hidden" name="e-action" value="login" />
			<input type="hidden" name="e-plugin" value="[emu component]" />
			
		</form>	
	</div>
	
	<!-- / emu-login -->
		
</div>
<!-- / emu-shop -->
