<div class="emu-shop">

	<div class="emu-account-details">

		<h1>Welcome, [first name]</h1>

		<p>If you are not [first name], <a href="?emuLogout">click here</a>.</p>

		<table>
		<thead>
			<tr>
				<th colspan="2">Account Profile <a href="[page name='Account Profile' field='url']" class="change">Change</a></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th>First Name</th>
				<td>[first name]</td>
			</tr>
			<tr>
				<th>Last Name</th>
				<td>[last name]</td>
			</tr>
			</tr>
				<th>Email</th>
				<td>[email]</td>
			</tr>
			<tr>
				<th>Newsletters</th>
				<td>[newsletter]</td>
			</tr>
			<tr>
				<th>Username</th>
				<td>[username]</td>
			</tr>
		</tbody>
		</table>

		<table>
		<thead>
			<tr>
				<th colspan="2">Address Book<a href="[page name='Address Book' field='url']" class="change">Change</a></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th>Default Shipping Address</th>
				<td>[default shipping address]</td>
			</tr>
			<tr>
				<th>Default Billing Address</th>
				<td>[default billing address]</td>
			</tr>
		</tbody>
		</table>

		<table>
		<thead>
			<tr>
				<th colspan="2">Recent Orders [conditional tag="view all orders"]<a href="[page name='Account Orders' field='url']" class="change">View All</a>[/conditional]</th>
			</tr>
		</thead>
		<tbody>
			[repeat tag="order row"]
			<tr>
				<th>[order reference number]</th>
				<td>[order grand total]</td>
			</tr>
			[/repeat]
		</tbody>
		</table>

		<table>
		<thead>
			<tr>
				<th colspan="2">Payment Methods <a href="[page name='Payment Manager' field='url']" class="change">Change</a></th>
			</tr>
		</thead>
		<tbody>
			[repeat tag="payment method"]
			<tr>
				<th>[payment type]</th>
				<td>[credit card number]</td>
			</tr>
			[/repeat]
		</tbody>
		</table>

	</div>
	<!-- / account-details -->

	[template name="account-menu.htm"]

</div>
<!-- / emu-shop -->
