<div class="emu-order-summary">

	<form method="post" action="" autocomplete="off">

		<h3>Shopping Bag Summary</h3>

		<p>Your basket contains <strong>[number items]</strong>.</p>

		<table>
		<tr>
			<td>Items</td>
			<td class="item-total">[order basket items sub total]</td>
		</tr>
		[repeat tag="order summary item"]
		<tr>
			<td>[description]</td>
			<td class="item-total">[cost]</td>
		</tr>
		[/repeat]
		<tr>
			<td>Grand Total</td>
			<td class="item-total">[order grand total]</td>
		</tr>
		</table>

		<h4>Offer Code</h4>

		<p>Only one offer code may be used per order</p>

		[coupon messages]

		[conditional tag="coupon code"]<input type="text" name="coupon_code" value="[coupon code]" class="emu-text" />[/conditional]

		<p class="emu-action">
			<input type="hidden" name="e-action" value="coupon" />
			<input type="hidden" name="e-plugin" value="[emu component]" />
			<input type="submit" name="e-button" value="[coupon button text]" />
		</p>

	</form>

</div>
