<div id="emu-orders" class="emu-global">

	<table>
	<tr>
		<th>Reference Number</th>
		<th>Order Date</th>
		<th>Total</th>
		<th>Shipping Address</th>
		<th>Delivery</th>
		<th>Status</th>
	</tr>
	[orders]
	</table>

</div>
<!-- / emu-orders -->