<div class="emu-shop">

	<div class="emu-product">

		<form method="post" action="">

			<div class="product-image">
				<a class="thickbox" title="[product name]" href="[product image url]">[product image size five]</a>
				<div class="emu-clear-left">[facebook]</div>
			</div>

			<div class="product-details">

				<p class="product-category">[product categories]</p>
				<h1 class="product-name">[product name]</h1>
				<p class="product-rating">[rating stars large] <span>[rating summary]</span></p>
				<p>[product excerpt]</p>
				<p class="product-price">[price] [stock summary]</p>

				[product messages]

				[conditional tag="product options"]<h4>Options</h4>[/conditional]

				[product options]

				[conditional tag="product purchase fields"]
					<select name="product_qty[]"><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option></select>
					<input type="hidden" name="product_id[]" value="[product id]" />
				[/conditional]

				[variants]

				<p class="actions">
					<input type="submit" name="e-button" value="Add to Basket" />
					<input type="submit" name="e-button" value="Add to Wishlist" />
				</p>

			</div>

			<input type="hidden" name="e-action" value="products" />
			<input type="hidden" name="e-plugin" value="[emu component]" />

		</form>

		<div class="emu-clear-left"></div>

		<h2>Description</h2>

		[product description]

		[template tag="purchase group"]
		<div class="emu-purchase-group">

			<h3>Customers who bought this item also bought...</h3>

			[repeat tag="purchase group item"]
			<div class="product">
				<a href="[p product url]">[p product image size two]</a>
				<p class="product-name"><a href="[p product url]">[p product name]</a></p>
				<p class="product-price">Price <span>[p price]</span></p>
				<p class="product-rating">[p rating stars small]</p>
				<p class="stock-summary">[p stock summary]</p>
			</div>
			[/repeat]

			<div class="emu-clear-left"></div>

		</div>
		<!-- / emu-purchase-group -->
		[/template]

		[template tag="recommended products"]
		<div class="emu-recommended-products">

			<h3>Recommended Products</h3>

			[repeat tag="recommended product"]
			<div class="product">
				<a href="[r product url]">[r product image size two]</a>
				<p class="product-name"><a href="[r product url]">[r product name]</a></p>
				<p class="product-price">Price <span>[r price]</span></p>
				<p class="product-rating">[r rating stars small]</p>
				<p class="stock-summary">[r stock summary]</p>
			</div>
			[/repeat]

			<div class="emu-clear-left"></div>

		</div>
		<!-- / emu-recommended-products -->
		[/template]

		[template tag="reviews"]
		<div class="emu-reviews">

			<h2><a name="reviews">Customer Reviews</a></h2>

			<div class="summary-table">
				[review summary table]
			</div>

			<div class="summary-header">
				<p>Average customer rating</p>
				<p>[average rating stars large]<span>[rating summary]</span></p>
			</div>

			<div class="emu-clear-left"></div>

			[repeat tag="review"]
			<form method="post" action="" class="emu-review-item">

				<div class="review-bg">

					<p class="helpful-summary">[helpful summary]</p>

					<h5>[rating stars small] <a href="[review link]">[review title]</a></h5>

					<p class="reviewer-info">by [reviewer], [review date] - <a href="[customer review link]">See all my reviews</a></p>

					[review text with quotes]

					[comments]

					[conditional tag="review voting form"]
					<p class="review-voting">
						Was this review helpful to you?
						<input type="submit" name="e-button" value="Inappropriate?" /><input type="submit" name="e-button" value="No" /><input type="submit" name="e-button" value="Yes" />
					</p>
					[/conditional]

					<p class="leave-comment"><a href="[comment link]">Leave a comment</a></p>

				</div>

				<input type="hidden" name="review_id" value="[review id]" />
				<input type="hidden" name="e-action" value="customerReviews" />
				<input type="hidden" name="e-plugin" value="[emu component]" />

			</form>
			<!-- / emu-review-item -->
			[/repeat]

		</div>
		<!-- / emu-reviews -->
		[/template]

		[template tag="review form"]
		<form class="emu-review-form" method="post" action="#review-form">

			<h5><a name="review-form">Submit your own review</a></h5>

			[review form messages]

			<table>
			<tr>
				<th>How would you rate this product?</th>
				<td>[ratings]</td>
			</tr>
			<tr>
				<th>Enter a title for your review</th>
				<td><input type="text" name="review_title" value="[review title]"/></td>
			</tr>
			<tr>
				<th>Enter your review</th>
				<td><textarea name="review_text" rows="10" cols="40">[review text]</textarea>
			</tr>
			<tr>
				<th>Submit your review</th>
				<td><input type="submit" name="e-button" value="Submit Review" /></td>
			</tr>
			</table>

			<input type="hidden" name="e-action" value="customerReviews" />
			<input type="hidden" name="e-plugin" value="[emu component]" />
			<input type="hidden" name="productID" value="[product id]" />
			<input type="hidden" name="postID" value="[post id]" />

		</form>
		<!-- / emu-review-form -->
		[/template]

		<div class="edit-product-icon">[edit product icon]</div>


	</div>
	<!-- / emu-product -->

</div>
<!-- / emu-shop -->