<div class="emu-shop">

	<div class="emu-products">

		[product messages]

		[repeat tag="product"]
		<div class="product">

			<a href="[product url]">[product image size three]</a>
			<p class="product-name"><a href="[product url]">[product name]</a></p>
			<p class="product-price">Price <span>[price]</span></p>
			<p class="product-rating">[rating stars small]</p>
			<p class="concise-rating-summary"><a href="[product url]#reviews">[concise rating summary]</a></p>
			<p class="stock-summary">[stock summary]</p>

		</div>
		[/repeat]

		<div class="emu-clear"></div>

	</div>
	<!-- / emu-products -->

</div>
<!-- / emu-shop -->