<div class="emu-shop">

	<form class="emu-reset-password" method="post" action="" autocomplete="off">

		<h1>Reset your password</h1>

		<p>To reset your password just enter your email address and click 'Reset Password'. A new password will be sent to your email address.</P>

		[reset messages]
		
		<div class="emu-form-row">
			<label for="login_email">Email address*</label>
			<input type="text" name="login_email" value="[login email]" class="emu-text" /><span class="field-info">e.g. jim@gmail.com</span>
		</div>

		<p class="emu-action">
			<input type="submit" name="e-button" value="Reset Password" />
			<input type="hidden" name="e-action" value="resetPassword" />
			<input type="hidden" name="e-plugin" value="[emu component]" />		
		</p>

	</form>
	<!-- / emu-reset-password -->
	
</div>
<!-- / emu-shop -->