<table class="emu-review-summary">
<tr>
	<th>5 Stars</th>
	<td class="indicator"><div style="width: [5 star width]"></div></td>
	<td>([5 star count])</td>
</tr>
<tr>
	<th>4 Stars</th>
	<td class="indicator"><div style="width: [4 star width]"></div></td>
	<td>([4 star count])</td>
</tr>
<tr>
	<th>3 Stars</th>
	<td class="indicator"><div style="width: [3 star width]"></div></td>
	<td>([3 star count])</td>
</tr>
<tr>
	<th>2 Stars</th>
	<td class="indicator"><div style="width: [2 star width]"></div></td>
	<td>([2 star count])</td>
</tr>
<tr>
	<th>1 Star</th>
	<td class="indicator"><div style="width: [1 star width]"></div></td>
	<td>([1 star count])</td>
</tr>
</table>
