<div class="emu-shop">

	<div class="emu-review">

	    <h1>Customer Review</h1>

	    <form method="post" action="" class="emu-review-item">

	        <p class="helpful-summary">[helpful summary]</p>

	        <h5>[rating stars small] <a href="[review link]">[review title]</a></h5>

	        <p class="reviewer-info">by [reviewer], [review date] - <a href="[customer review link]">See all my reviews</a></p>

	        [review text with quotes]

	        [comments]

	        [conditional tag="review voting form"]
	        <p class="review-voting">
	            Was this review helpful to you?
	            <input type="submit" name="e-button" value="Inappropriate?" /><input type="submit" name="e-button" value="No" /><input type="submit" name="e-button" value="Yes" />
	        </p>
	        [/conditional]

	        <input type="hidden" name="review_id" value="[review id]" />
	        <input type="hidden" name="e-action" value="customerReviews" />
	        <input type="hidden" name="e-plugin" value="[emu component]" />

	    </form>

	    <h2>Comment on this review...</h2>

	    [template tag="comment form"]
	    <form action="" method="post" id="commentform" class="emu-review-item">

	        [comment messages]

	        <textarea name="comment" id="comment" cols="58" rows="10" tabindex="4"></textarea>

	        <p>
	            <input type="submit" name="e-button" value="Submit Comment" />
	            <input type='hidden' name='comment_post_ID' value='[review post id]' id='comment_post_ID' />
	            <input type="hidden" name="e-action" value="comment" />
	            <input type="hidden" name="e-plugin" value="[emu component]" />
	        </p>

	    </form>
	    [/template]

		<h2>Reviewing...</h2>

		<form method="post" action="" class="emu-product clearfix">

			<div class="product-image">
				<a class="thickbox" title="[product name]" href="[product image url]">[product image size three]</a>
				<div class="emu-clear-left">[facebook]</div>
			</div>

			<div class="product-details">

				<p class="product-category">[product categories]</p>
				<h1 class="product-name">[product name]</h1>
				<p class="product-rating">[rating stars large] <span>[rating summary]</span></p>
				<p>[product excerpt]</p>
				<p class="product-price">[price] [stock summary]</p>

				[product messages]

				[conditional tag="product options"]<h4>Options</h4>[/conditional]

				[product options]

				[conditional tag="product purchase fields"]
					<select name="product_qty[]"><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option></select>
					<input type="hidden" name="product_id[]" value="[product id]" />
				[/conditional]

				[variants]

				<p class="actions">
					<input type="submit" name="e-button" value="Add to Basket" />
					<input type="submit" name="e-button" value="Add to Wishlist" />
				</p>

			</div>

			<input type="hidden" name="e-action" value="products" />
			<input type="hidden" name="e-plugin" value="[emu component]" />

		</form>

	</div>

</div>
