<div class="emu-shop">

	[order summary]

	<div class="emu-shipping">

		<h1>Shipping address</h1>

		<ul class="shopping-steps">
			<li>1. Billing</strong></li>
			<li><strong>2. Shipping</strong></li>
			<li>3. Delivery</li>
			<li>4. Order Review</li>
			<li>5. Payment</li>
			<li>6. Order Confirmation</li>
		</ul>

		[shipping address messages]

		<form method="post" action="" autocomplete="off">

			[conditional tag="has address book entries"]

			<div id="chooseAddressForm">

				<p><strong>Choose an address from your address book</strong>:</p>

				[repeat tag="existing address"]
				<div class="address-option">
					<label><input type="radio" class="address-radio" name="existing_address" value="[address id]" [existing address checked]>[address aggregate comma]</label>
				</div>
				[/repeat]

				<div id="existingAddressDetails">
					<input type="submit" name="e-button" value="Edit Address" />
				</div>

				<p>or</p>

				<div class="address-option">
					<label><input type="radio" class="address-radio" name="existing_address" value="new" id="newAddressRadio" [new address checked]><strong> Enter a new address</strong></label>
				</div>

			</div>

			[/conditional]

			<div id="newAddressForm">

	            <div class="emu-form-column column-one">

	                <div class="emu-form-row">
	                    <label for="first_name">First name*</label>
	                    <input type="text" name="first_name" value="[first name]" tabindex="1" class="emu-text" />
	                </div>

	                <div class="emu-form-row">
	                    <label for="address_line_one">Address Line One*</label>
	                    <input type="text" name="address_line_one" value="[address line one]" tabindex="3" class="emu-text" />
	                </div>

	                <div class="emu-form-row">
	                    <label for="city">City*</label>
	                    <input type="text" name="city" value="[city]" tabindex="5" class="emu-text" />
	                </div>

	                <div class="emu-form-row">
	                    <label for="country">Country*</label>
	                    <select name="country" tabindex="7" class="emu-select"><option value="">Select a country</option>[countries]</select>
	                </div>

	                <div class="emu-form-row">
	                    <label for="phone_number">Contact Phone number*</label>
	                    <input type="text" name="phone_number" value="[phone number]" tabindex="9" class="emu-text" />
	                </div>
	            </div>

	            <div class="emu-form-column column-two">

	                <div class="emu-form-row">
	                    <label for="first_name">Last name*</label>
	                    <input type="text" name="last_name" value="[last name]" tabindex="2" class="emu-text"  />
	                </div>

	                <div class="emu-form-row">
	                    <label for="address_line_two">Address Line Two</label>
	                    <input type="text" name="address_line_two" value="[address line two]" tabindex="4" class="emu-text" />
	                </div>

	                <div class="emu-form-row">
	                    <label for="postal_code">Postal code*</label>
	                    <input type="text" name="postal_code" value="[postal code]" tabindex="6" class="emu-text" />
	                </div class="emu-form-row">

	                <div class="emu-form-row">
	                    <label for="country">State*</label>
	                    <select name="selected_state" class="[selected state class] emu-select">[states]</select><input type="text" tabindex="8" name="entered_state" value="[entered state]" class="[entered state class] emu-text" />
	                </div>

	            </div>

	            <div class="address-options emu-clear-left">

	                <label><input type="checkbox" name="save_address" value="1" [save address checked] /> Save this address in my address book</label><br />
	                <label><input type="checkbox" name="shipping_default" value="1" [shipping default checked] /> Make this my default shipping address (address will be saved)</label>
	            </div>

			</div>

            <p class="emu-action">
                <input type="submit" name="e-button" value="Continue" />
                <input type="hidden" name="e-action" value="shipping" />
                <input type="hidden" name="e-plugin" value="[emu component]" />
            </p>

        </form>

	</div>

</div>
<!-- / emu-shop -->
