/* Global */

	.emu-shop .emu-clear { clear: both; }
	.emu-shop .emu-clear-left { clear: left; }
	.emu-shop .emu-clear-right { clear: right; }
	.emu-shop .emu-hidden { display: none; }
	.emu-shop .field-info { display: block; padding-top: 4px; color: #686868; }
	.emu-shop .customer-info { font-family: courier new; font-size: 16px; }
	.emu-shop .emu-notice { background-color: #FFFBCC; padding: 10px 10px 1px 10px !important; margin-bottom: 10px; }
	.emu-shop .emu-error { background-color: #FFECEC; padding: 10px 10px 1px 10px !important; margin-bottom: 10px; }
	.emu-shop .edit-product-icon { position: absolute; right: 0px; top: 0px; }
    .emu-shop .emu-message { padding-bottom: 10px; }

	.clearfix:before, .clearfix:after { content: ""; display: table; }
	.clearfix:after { clear: both; }
	.clearfix { zoom: 1; }


/* Forms */

	.emu-shop .emu-form-column { width: 290px; float: left; display: inline; }
	.emu-shop .emu-column-one { margin-right: 10px; }
	.emu-shop .emu-column-two { }
	.emu-shop .emu-form-row { margin-bottom: 10px; }
	.emu-shop .emu-form-row label { display: block; padding-bottom: 7px; }
	.emu-shop .emu-action { float: right; padding-top: 20px; }

/* Form Elements */

	.emu-shop .emu-text { width: 300px; height: 30px; padding: 2px; padding-top: 6px\9; border: 1px solid #91746E; font-family: courier new; font-size: 20px; }
	.emu-shop .emu-select { width: 300px; height: 30px; padding: 2px; padding-top: 6px\9; border: 1px solid #91746E; font-family: courier new; font-size: 20px; }
	.emu-shop .emu-form-column .emu-text { width: 265px; }
	.emu-shop .emu-form-column .emu-select { width: 265px; }
	.emu-shop .emu-textarea { border: 1px solid #91746E; padding: 2px; }

/* Pages */

	.emu-shop .emu-basket,
	.emu-shop .emu-billing,
	.emu-shop .emu-delivery,
	.emu-shop .emu-confirmation,
	.emu-shop .emu-payment,
	.emu-shop .emu-thankyou,
	.emu-shop .emu-customer-reviews,
	.emu-shop .emu-reset-password,
	.emu-shop .emu-customer-care,
	.emu-shop .emu-reviews-summary,
	.emu-shop .emu-shipping { width: 615px; }

	.emu-shop .emu-page-not-found { }
	.emu-shop .emu-account-activate { }

/*	.emu-shop .emu-account-details ul.account-menu { margin: 0 !important; padding: 0 0 20px 0 !important; }
	.emu-shop .emu-account-details ul.account-menu li { list-style: none; display: inline; margin: 0 !important; padding: 0 10px 0 0 !important; }

*/	.emu-shop .emu-account-details table { width: 100%; }
	.emu-shop .emu-account-details table th,
	.emu-shop .emu-account-details table td { text-align: left; vertical-align: top; padding: 5px; padding: 6px 8px; border-bottom: 2px solid #EEEEED; }
	.emu-shop .emu-account-details thead th,
	.emu-shop .emu-account-details thead td	{ background-color: #EEEEED }

	.emu-shop .emu-account-details tbody th { width: 200px; }
	.emu-shop .emu-account-details tbody td { width: 250px;  font-family: courier new; font-size: 16px; }
	.emu-shop .emu-account-details a.change { float: right; }
	.emu-shop .emu-account-menu { float: left; }
	.emu-shop .emu-account-details { float: right; width: 690px; }

/*
	.emu-shop .emu-account-details .account-column-left { float: left; width: 300px; margin-right: 27px; }
	.emu-shop .emu-account-details .account-column-right { float: left; width: 300px; }
	.emu-shop .emu-account-details a.change-details { float: right; margin: 18px 12px 0 0 }
	.emu-shop .emu-account-details .emu-action { float: right; }
    .emu-shop .emu-account-details .emu-form-column input.prefix { width: 55px; }
    .emu-shop .emu-account-details .emu-form-column input.first-name { width: 200px; }
    .emu-shop .emu-account-details .emu-form-column input.suffix { width: 55px; }
    .emu-shop .emu-account-details .emu-form-column input.last-name { width: 200px; }
*/
/*
	.emu-shop .emu-address-book span.default-billing { display: block; }
	.emu-shop .emu-address-book span.default-shipping { display: block; }
*/
	.emu-shop .emu-order-summary { float: right; width: 250px; margin-left: 15px; }
	.emu-shop .emu-order-summary table { width: 100%; }
	.emu-shop .emu-order-summary th,
	.emu-shop .emu-order-summary td { vertical-align: top; font-family: courier new; font-size: 16px;  }
	.emu-shop .emu-order-summary .item-total { text-align: right; }
	.emu-shop .emu-order-summary .emu-text { width: 250px; }

	.emu-shop .emu-basket table { width: 100%; }
	.emu-shop .emu-basket th { font-style: normal; text-align: left; }
	.emu-shop .emu-basket th,
	.emu-shop .emu-basket td { vertical-align: top; font-family: courier new; font-size: 16px;  }
	.emu-shop .emu-basket td { padding-top: 19px; }
	.emu-shop .emu-basket .product-image { }
	.emu-shop .emu-basket .product-name {}
	.emu-shop .emu-basket .product-price { }
	.emu-shop .emu-basket td.product-qty { padding-top: 10px; }
	.emu-shop .emu-basket .product-qty input.product-qty { width: 50px; }
	.emu-shop .emu-basket .basket-sub-total { text-align: right; }
	.emu-shop .emu-basket .product-total-cost { text-align: right; }
	.emu-shop .emu-basket .product-name a { display: block; }
	.emu-shop .emu-basket .product-name input.remove { margin-top: 5px; }
	.emu-shop .emu-basket .product-name span.variant-description { display: block; }
	.emu-shop .emu-basket span.product-options { display: block; }

	.emu-shop ul.shopping-steps { margin: 0 !important; padding: 0 0 20px 0 !important; }
	.emu-shop ul.shopping-steps li { list-style: none; display: inline; margin: 0 !important; padding: 0 10px 0 0 !important; }

	.emu-shop .emu-shipping .address-option { position: relative; padding-left: 20px; margin-bottom: 10px; }
	.emu-shop .emu-shipping .address-option .address-radio { position: absolute; left: 0; top: 2px; }

	.emu-shop .emu-billing .address-option { position: relative; padding-left: 20px; margin-bottom: 10px; }
	.emu-shop .emu-billing .address-option .address-radio { position: absolute; left: 0; top: 2px; }

	.emu-shop .emu-delivery .charge-options { margin-bottom: 15px; }
	.emu-shop .emu-delivery .emu-select { width: auto; }

	.emu-shop .emu-confirmation .review-row { margin-bottom: 25px; }
	.emu-shop .emu-confirmation .order-section { float: left; width: 297px; }
	.emu-shop .emu-confirmation .section-header { font-weight: bold; }
	.emu-shop .emu-confirmation .section-header .change { font-weight: normal }

	.emu-shop .emu-confirmation .emu-basket td.product-qty { padding-top: 19px; }

	.emu-shop .emu-payment .method-option { position: relative; padding-left: 20px; margin-bottom: 10px; }
	.emu-shop .emu-payment .method-option .method-radio { position: absolute; left: 0; top: 2px; }

	.emu-shop .emu-thankyou .payment-summary table { width: 100%; }
	.emu-shop .emu-thankyou .payment-summary th { font-style: normal; }
	.emu-shop .emu-thankyou .payment-summary th,
	.emu-shop .emu-thankyou .payment-summary td { vertical-align: top; font-family: courier new; font-size: 16px; }

	.emu-shop .emu-products .product { float: left; margin: 5px; text-align: center; width: 160px; height: 280px; }
	.emu-shop .emu-products .product p { padding: 0; margin: 5px 0 0 0; }
	.emu-shop .emu-products .product .product-price { font-size: smaller }
	.emu-shop .emu-products .product .concise-rating-summary { font-size: smaller }

    .emu-shop .product-options label { display: block; }

	.emu-shop .emu-product { position: relative; }
	.emu-shop .emu-product .product-image { float: left; margin-right: 10px; }
    .emu-shop .emu-product .product-image img { margin-bottom: 10px; }
	.emu-shop .emu-product .product-details { float: left; width: 380px; }
	.emu-shop .emu-product .product-details p { margin: 0; padding: 0; }
	.emu-shop .emu-product .product-details .product-category { font-size: smaller; }
	.emu-shop .emu-product .product-details h1.product-name { margin: 0; padding: 0; }
	.emu-shop .emu-product .product-details .product-rating { margin: 7px 0 }
	.emu-shop .emu-product .product-details .product-rating span { font-size: smaller; }
	.emu-shop .emu-product .product-details .product-price { margin: 8px 0 0px 0; }
	.emu-shop .emu-product .product-details p.actions { margin-top: 10px; }
	.emu-shop .emu-product table.product-options td,
	.emu-shop .emu-product table.product-options th { text-align: left; vertical-align: top; padding: 5px; }

	.emu-shop .emu-product table.product-variants td,
	.emu-shop .emu-product table.product-variants th { text-align: left; vertical-align: top; padding: 5px; }


	.emu-shop .emu-purchase-group { clear: both; }
    .emu-shop .emu-purchase-group .product { float: left; margin: 5px; text-align: center; height: 235px; width: 135px; }
	.emu-shop .emu-purchase-group .product p { padding: 0; margin: 5px 0 0 0; }
	.emu-shop .emu-purchase-group .product .product-price { font-size: smaller }
	.emu-shop .emu-purchase-group .product .concise-rating-summary { font-size: smaller }

    .emu-shop .emu-recommended-products  { clear: both; }
	.emu-shop .emu-recommended-products .product { float: left; margin: 5px; text-align: center; height: 235px; width: 135px; }
	.emu-shop .emu-recommended-products .product p { padding: 0; margin: 5px 0 0 0; }
	.emu-shop .emu-recommended-products .product .product-price { font-size: smaller }
	.emu-shop .emu-recommended-products .product .concise-rating-summary { font-size: smaller }

	.emu-shop .emu-reviews .emu-review-item { margin-bottom: 9px; }
	.emu-shop .emu-reviews .emu-review-item .review-bg { background-color: #F7F7F7; padding: 15px 15px 15px 15px; }
	.emu-shop .emu-reviews .emu-review-item table { width: 100%; }

	.emu-shop .emu-reviews .emu-review-item .reviewer-info,
	.emu-shop .emu-reviews .emu-review-item .helpful-summary { font-size: 13px; }
	.emu-shop .emu-reviews .emu-review-item .helpful-summary { padding-bottom: 3px; }
	.emu-shop .emu-reviews .emu-review-item .reviewer-info { padding-top: 4px; }

	.emu-shop .emu-reviews .emu-review-item h5 { margin: 0; padding: 0; }
	.emu-shop .emu-reviews .emu-review-item p.review-voting { padding-top: 14px; padding-left: 176px; font-size: 13px; }
	.emu-shop .emu-reviews .emu-review-item p.review-voting input { float: right; }

	.emu-shop .emu-reviews .summary-table { float: left; display: inline; width: 200px; height: 149px; margin-bottom:18px; }
	.emu-shop .emu-reviews .summary-header { float: left; width: 200px; }
	.emu-shop .emu-reviews .summary-header span { display: block; font-size: smaller; padding-top: 5px; }
	.emu-shop .emu-reviews .summary-header p { padding: 0; margin: 0 0 5px 0; }
	.emu-shop .emu-reviews ul.review-comments li { list-style: none; padding: 0; margin: 0; background-color: #FDFDFD; padding: 10px; }
	.emu-shop .emu-reviews ul.review-comments li span.comment-details { font-size: 13px;}
	.emu-shop .emu-reviews p.leave-comment { margin-top: 0px; text-align: right; }

	.emu-shop .emu-reviews .helpful-favourable { float: left; display: inline; width: 340px; margin-right: 20px; }
	.emu-shop .emu-reviews .helpful-critical { float: left; display: inline; width: 340px; }

	.emu-shop .emu-review-form table td,
	.emu-shop .emu-review-form table th { text-align: left; }

	.emu-shop table.emu-review-summary td,
	.emu-shop table.emu-review-summary th { background-color: transparent; color: #000; padding: 0; margin: 0; }
	.emu-shop table.emu-review-summary th { font-weight: normal; padding-right: 6px; }
	.emu-shop table.emu-review-summary td { padding-left: 6px; }
	.emu-shop table.emu-review-summary td.indicator { width: 100px; padding-left: 0; background-color: #FFEDB8 }
	.emu-shop table.emu-review-summary td.indicator div { background-color: #FFC000; display: block; height: 22px; }

	.emu-shop .emu-customer-reviews .emu-reviews { padding-top: 20px; }
	.emu-shop .emu-wishlist .emu-product { width: 400px; float: left; }
	.emu-shop .emu-wishlist .emu-product .product-details { width: 270px; }
	.emu-shop .emu-wishlist .emu-product .product-details .product-price { margin-bottom: 10px; }
	.emu-shop .emu-wishlist .emu-product .emu-action { float: none; }

	.emu-shop .emu-reset-password .emu-action { float: none; }

	.emu-shop .emu-login .emu-form-column { width: 435px; }
    .emu-shop .emu-login .emu-form-column .emu-text { width: 427px; }
    .emu-shop .emu-login .column-one { margin-right: 28px; margin-bottom: 30px; }

    .emu-shop .emu-registration .emu-form-column { width: 435px; }
    .emu-shop .emu-registration .emu-form-column .emu-text { width: 427px; }
    .emu-shop .emu-registration .column-one { margin-right: 28px; margin-bottom: 30px; }

    .emu-shop .sale-strike { text-decoration: line-through }
