<div class="emu-shop">

	<div class="emu-wishlist">

		<h1>Wishlist</h1>

		[wishlist messages]

		[repeat tag="wishlist item"]

		<form class="emu-product" method="post" action="">

			<div class="product-image"><a href="[product url]">[product image size two]</a></div>

			<div class="product-details">

				<p class="product-category">[product categories]</p>
				<p class="product-name">[product name] [variant description]</p>
				<p class="product-rating">[rating stars small]</p>
				<p class="product-price">[price] [stock summary]</p>

				<p class="emu-action">
					<input type="submit" name="e-button" value="Move to Cart" />
					<input type="submit" name="e-button" value="Remove from Wishlist" />
				</p>

			</div>

			<div class="emu-clear-left"></div>

			<input type="hidden" name="product_id" value="[product id]" />
			<input type="hidden" name="e-action" value="wishlist" />
			<input type="hidden" name="e-plugin" value="[emu component]" />

		</form>
		<!-- / emu-product -->

		[/repeat]

	</div>
	<!-- / emu-wishlist -->

</div>
<!-- / emu-shop -->