<div class="emu-account-menu">

  <h3>My Account</h3>

  <ul class="account-menu">
    <li><a href="[page name='My Account' field='url']">Account Home</a></li>
    <li><a href="[page name='Account Profile' field='url']">Account Profile</a></li>
    <li><a href="[page name='Payment Manager' field='url']">Payment Methods</a></li>
    <li><a href="[page name='Account Orders' field='url']">Orders</a></li>
    <li><a href="[page name='Address Book' field='url']">Address Book</a></li>
  </ul>

  <h4>Need Help?</h4>

  <ul>
    <li>Email:<br /><a href="mailto:support@zeitgeistresearch.com">support@zeitgeistresearch.com</a></li>
    <li>Phone: 9am - 5pm PST<br />(206) 201-2125</li>
  </ul>

</div>