<div class="emu-shop">

  <div class="emu-account-details">

    <h2>Account Orders</h2>

    <table>
    <tr>
      <th>Reference Number</th>
      <th>Order Date</th>
      <th>Total</th>
    </tr>
    [repeat tag="order row"]
    <tr>
      <td>[order reference number]</td>
      <td>[order date]</td>
      <td>[order grand total]</td>
    </tr>
    [/repeat]
    </table>

  </div>
  <!-- / account-details -->

</div>
<!-- / emu-shop -->