<div class="emu-shop checkout-fix">

  [order summary]

  <form method="post" action="" autocomplete="off" class="emu-basket">

	<input type="submit" name="e-button" class="button button-checkout" value="Checkout" />

    <h1>My Shopping Bag</h1>

    [basket messages]

    <p>Checkout to save any changes and continue to confirm your order.</p>

    <table>
      <tr>
        <th colspan="2">Product</th>
        <th class="product-price">Price</th>
        <th class="product-qty">Qty</th>
      </tr>
      [repeat tag="basket row"]
      <tr>
        <td class="product-image">[product image size one]</td>
        <td class="product-name">
          <a href="[product url]">[product name]</a>
          <span class="variant-description">[variant description]</span>
          <span class="product-options">[selected product options]</span>
          <input type="submit" name="remove-[item ref]" value="Remove" class="remove" /><input type="hidden" name="item_ref[]" value="[item ref]" />
        </td>
        <td class="product-price">[price]</td>
        <td class="product-qty"><input type="text" name="item_qty[]" value="[quantity]" class="emu-text product-qty" /></td>
      </tr>
      [/repeat]
      <tr>
        <td colspan="3"></td>
        <td>Sub-total</td>
        <td class="basket-sub-total">[order basket items sub total]</td>
      </tr>
    </table>


    <p class="emu-action">
      <input type="submit" name="e-button" class="button" value="Update" />
      <input type="hidden" name="e-action" value="basket" />
      <input type="hidden" name="e-plugin" value="[emu component]" />
    </p>



  </form>

</div>
<!-- / emu-shop -->
