<div class="emu-basket">

	<table>
		<tr>
			<th colspan="2">Product</th>
			<th class="product-price">Price</th>
			<th class="product-qty">Qty</th>
		</tr>
		[repeat tag="basket row"]
		<tr>
			<td class="product-image">[product image size one]</td>
			<td class="product-name">
				<a href="[product url]">[product name]</a>
				<span class="variant-description">[variant description]</span>
				<span class="product-options">[selected product options]</span>
			</td>
			<td class="product-price">[price]</td>
			<td class="product-qty">[quantity]</td>
		</tr>
		[/repeat]
		<tr>
			<th colspan="2"></th>
			<td>Sub-total</td>
			<td class="basket-sub-total">[order basket items sub total]</td>
		</tr>
	</table>

</div>