<div class="emu-order-summary">

  <form method="post" action="" autocomplete="off">

    <h3>Cart Summary</h3>

    <p>Your cart contains <strong>[number items]</strong>.</p>

    <table>
    <tr>
      <td>Items</td>
      <td class="item-total">[order basket items sub total]</td>
    </tr>
    [repeat tag="order summary item"]
    <tr>
      <td>[description]</td>
      <td class="item-total">[cost]</td>
    </tr>
    [/repeat]
    <tr>
      <td>Grand Total</td>
      <td class="item-total">[order grand total]</td>
    </tr>
    </table>

    <h4>Checkout help</h4>

    <ul>
      <li><a href="/sales-tax">Sales Tax &raquo;</a></li>
    </ul>

    <p>If you need help or would prefer to finish your order by phone, please call 425 467-6300</p>

  </form>

</div>
