<div class="emu-shop">

  <div class="emu-account-details">

    <h1>Payment Manager</h1>

    [template tag="payment methods"]

    [messages]

    <ul>
      [repeat tag="payment method"]
      <li>
        <form method="post" action="" autocomplete="off">
          <p><strong>[payment type]</strong> - Card number ending [credit card number], Exp. [credit card expiry month]/[credit card expiry year]</p>
          <p>[default]</p>
          <p><input type="submit" name="e-button" value="Edit" /><input type="submit" name="e-button" value="Delete" /><input type="hidden" name="e-action" value="paymentManager" /><input type="hidden" name="e-plugin" value="[emu component]" /><input type="hidden" name="payment_method_id" value="[payment method id]" /></p>
        </form>
      </li>
      [/repeat]
    </ul>

    [/template]

    [template tag="payment method form"]
    <form method="post" action="" autocomplete="off">

      <p class="emu-action">
        <input type="submit" name="e-button" value="[button value]" />
      </p>

      <h2>[edit title] Payment Method</h2>

      [messages]

      <div class="emu-form-column column-one">

        <div class="emu-form-row">
          <label for="card_number">Credit Card Number*</label>
          <input type="text" name="card_number" value="" class="emu-text" /><span class="small">[credit card number]</span>
        </div>

      </div>

      <div class="emu-form-column column-two">

        <div class="emu-form-row">
          <label for="payment_type">Payment Type*</label>
          [payment types]
        </div>

      </div>

      <div class="emu-form-column column-one emu-clear-left">

        <div class="emu-form-row">
          <label for="cc_exp_month">Expiration Month*</label>
          [exp months]
        </div>

      </div>

      <div class="emu-form-column column-two">

        <div class="emu-form-row">
          <label for="cc_exp_year">Expiration Year*</label>
          [exp years]
        </div>

      </div>


      <div class="emu-form-row emu-clear-left">
        <label><input type="checkbox" name="default_payment_method" value="1" [default payment method check] /> Make this my default payment method</label>
      </div>

      <p class="emu-action">
        <input type="submit" name="e-button" value="[button value]" />
        <input type="hidden" name="e-action" value="paymentManager" />
        <input type="hidden" name="e-plugin" value="[emu component]" />
        <input type="hidden" name="payment_method_id" value="[payment method id]" />
      </p>

    </form>
    [/template]

  </div>
  <!-- / account details -->

  [template name="account-menu.htm"]

</div>
<!-- / emu-shop -->



