<div class="emu-shop">

  [order summary]

  <div class="emu-payment">

    <h1>Payment Details</h1>

      <ul class="shopping-steps">
        <li>1. Billing</li>
        <li>2. Order Review</li>
        <li><strong>3. Payment</strong></li>
        <li>4. Order Confirmation</li>
      </ul>

    [payment method messages]

    <p>Total to be charged: <strong>[order grand total]</strong> - <a href="[page name='Order Confirmation' field='url']">Review your order</a></p>

    <form method="post" action="" autocomplete="off">

      [conditional tag="has payment methods"]

      <div id="chooseMethodForm">

        <p><strong>Choose a payment method from your stored payment methods:</strong>

        [repeat tag="existing method"]
        <div class="method-option">
          <label><input type="radio" class="method-radio" name="existing_method" value="[payment method id]" [existing method checked]>[payment type] [credit card number]</label>
        </div>
        [/repeat]

        <div id="storedMethodDetails">

                  <div class="emu-form-row">
            <label for="cv2_number">CV2 Number for stored payment method*</label>
            <input type="text" name="cv2_number_existing" value="" class="emu-text" />
          </div>

          <p><input type="submit" name="e-button" value="Edit Payment Method" /></p>

        </div>

        <p>or</p>

        <div class="method-option">
          <label><input type="radio" class="method-radio" name="existing_method" value="new" id="newMethodRadio" [new method checked]><strong> Enter a new payment method</strong></label>
        </div>

      </div>

      [/conditional]


      <div id="newMethodForm">

        <div class="emu-form-column column-one transparent">

          <div class="emu-form-row">
            <label for="card_number">Credit Card Number*</label>
            <input type="text" name="card_number" value="" class="emu-text" />
          </div>

        </div>

        <div class="emu-form-column column-two transparent">

          <div class="emu-form-row">
            <label for="payment_type">Payment Type*</label>
            [payment types]
          </div>

        </div>

              <div class="emu-form-column column-one emu-clear-left transparent">

                  <div class="emu-form-row">
            <label for="cv2_number">CV2 Number*</label>
            <input type="text" name="cv2_number" value="" class="emu-text" />
          </div>

        </div>

        <div class="emu-form-column column-one emu-clear-left transparent">

          <div class="emu-form-row">
            <label for="cc_exp_month">Expiration Month*</label>
            [exp months]
          </div>

        </div>

        <div class="emu-form-column column-two transparent">

          <div class="emu-form-row">
            <label for="cc_exp_year">Expiration Year*</label>
            [exp years]
          </div>

        </div>

        <div class="payment-options emu-clear-left">
          <label><input type="checkbox" name="save_method" value="1" [save method checked] /> Save this payment method (<em>note:</em> cv2 number will <strong>not</strong> be saved)</label><br />
          <label><input type="checkbox" name="payment_default" value="1" [payment default checked] /> Make this my default payment method (payment method will be saved)</label>
        </div>

      </div>

      <p class="emu-action">
        <input type="hidden" name="e-action" value="payment" />
        <input type="hidden" name="e-plugin" value="[emu component]" />
        <input type="submit" name="e-button" value="Make Payment" />
      </p>

    </form>

  </div>
  <!-- emu-payment -->

</div>
<!-- / emu-shop -->