[repeat tag="product"]
    <div class="section">
      <a href="[product url]" class="service-image">[product image size one]</a>
      <p><strong><a href="[product url]">[product name]</a></strong></p>[product excerpt]
    </div>
[/repeat]
