<form method="post" action="">

<div class="highlight">

  <div class="highlight-content clearfix">

    <div class="padding">

      <div class="content">

        <h1 class="no-top-padding">[product name]</h1>

       [product excerpt]
       
        
        [custom conditional="custom header" condition="true"]
            <div class="white-background cond_questionnaire-design_true">
            	[custom field="custom header content"]
            </div>
        [/custom]



        [custom conditional="Show Price" condition="false"]
          	<!--  cond_Show_Price_false  --> 
        [/custom]        
        [custom conditional="Show Price" condition="true"]
            <div class="white-background cond_Show_Price_true">
                <table class="full-width">
                <tr>
                  <th>Price:</th>
                </tr>
                <tr>
                	<td>[custom field="Display Price"]</td>
                </tr>
                </table>
            </div>
        [/custom]
        [custom conditional="Purchasing Disabled" condition=""]
            <div class="white-background cond_PurchasingDisabled_none">
                <table class="full-width">
                <tr>
                  <th>Price:</th>
                </tr>
                <tr>
                	<td>[custom field="Display Price"]</td>
                </tr>
                </table>
            </div>
        [/custom]

		
        


        [custom conditional="Purchasing Disabled" condition="savings"]
            <div class="white-background conditional_Purchasing_Disabled_none">
            <table class="full-width">
            <tr>
              <th>Non-Member Price</th>
              <th>Research Autobahn Subscribers</th>
              <th>You Save</th>
            </tr>
            <tr>
              <td>[custom field="Display Price"]</td>
              <td><span class="orange">[custom field="Subscriber Price"]</span></td>
              <td><span class="orange">[custom field="Subscriber Saving Percentage"]</span></td>
            </tr>
            </table>
              [variants]
            </div>
            <p class="align-right action"><strong>Interested in purchasing this service?</strong> <button type="submit" name="e-button" class="button" value="Add to Basket" />Buy Now</button></p>
        [/custom]



        [custom conditional="Service" condition="Research Autobahn"]
            <div class="white-background conditional_Service_condition_Research_Autobahn ">
            <table class="full-width">
            <tr>
              <th>Yearly Subscription</th>
              <th>Each Additional Seat</th>
            </tr>
            <tr>
              <td>[custom field="Display Price"]</td>
              <td>[custom field="Additional Seat Price"]</td>
            </tr>
            </table>
            </div>
        [/custom]

        [custom conditional="Service" condition="Forschung"]
            <div class="white-background cond_Service_Forschung">
            <table class="full-width">
            <tr>
              <th>Preis: [custom field="Display Price"]</th>
            </tr>
            </table>
            </div>
        [/custom]



        [custom conditional="Service" condition="Omnibus"]
            <div class="white-background cond_Service_Omnibus">
            <table class="full-width">
            <tr>
              <th>Price</th>
            </tr>
            <tr>
              <td>[custom field="Display Price"]</td>
            </tr>
            </table>
            </div>
        [/custom]

        [custom conditional="Purchasing Disabled" condition="true"]
        	<p class="align-right action"><strong>Interested in purchasing this service?</strong> <a href="/service-request-form/?service=[product slug]" class="button">Contact Us</a>
        [/custom]
        [custom conditional="Purchasing Disabled" condition=""]
        	<p class="align-right action"><strong>Interested in purchasing this service?</strong> <a href="/service-request-form/?service=[product slug]" class="button">Contact Us</a>
        [/custom]

        [custom conditional="Purchasing Disabled" condition="translated"]
        	<p class="align-right action"><strong>Falls Sie an diesem Service interessiert sind, </strong> <a href="/service-request-form/?service=[product slug]" class="button">kontaktieren Sie uns</a>
        [/custom]

      </div>

      [product image size seven]

    </div>
    <!-- / padding -->

  </div>
  <!-- / highlight-content -->

  <div class="bg-top"></div><div class="bg-bottom"></div>

</div>
<!-- / highlight -->

<input type="hidden" name="product_id[]" value="[product id]" />
[conditional tag="product purchase fields"]<input type="hidden" name="product_qty[]" value="1" />[/conditional]
<input type="hidden" name="e-action" value="products" />
<input type="hidden" name="e-plugin" value="[emu component]" />

</form>

[product description]

