<div class="emu-shop">

  <form method="post" action="" autocomplete="off" class="emu-registration">
  
    <h1>Become a member</h1>

    <p class="emu-action"> 
      <input type="submit" name="e-button" class="button" value="Submit" />
    </p>

    <h2>Your personal information</h2>

    <p>* denotes a required field</p>

    [registration messages]

    <div class="emu-form-column column-one transparent">

      <div class="emu-form-row first-name">
        <label for="first_name">First name*</label>
        <select name="prefix" tabindex="1" class="emu-select"><option value="Mr">Mr</option><option value="Mrs">Mrs</option></select><input type="text" name="first_name" value="[first name]" tabindex="3" class="emu-text" />
      </div>

      <div class="emu-form-row">
        <label for="first_name">Company</label>
        <input type="text" name="company_name" value="[company name]" tabindex="5" class="emu-text" />
      </div>

      <div class="emu-form-row">
        <label for="first_name">Job title</label>
        <input type="text" name="job_title" value="[job title]" tabindex="7" class="emu-text" />
      </div>
      
    </div>
    
    <div class="emu-form-column column-two transparent">

      <div class="emu-form-row last-name">
        <label for="first_name">Last name*</label>
        <input type="text" name="last_name" value="[last name]" tabindex="4" class="emu-text" /><select name="suffix" tabindex="1" class="emu-select"><option value=""></option><option value="Ph.D">Ph.D</option><option value="M.D.">M.D.</option></select>
      </div>

      <div class="emu-form-row">
        <label for="first_name">Department</label>
        <input type="text" name="department" value="[department]" tabindex="6" class="emu-text" />
      </div>
      
    </div>
    
    <div class="emu-form-column column-one transparent emu-clear-left">
      
      <div class="emu-form-row">
        <label for="email">Email Address*</label>
        <input type="text" name="email" value="[email]" tabindex="8" class="emu-text" />
      </div>

      <div class="emu-form-row">
        <label for="password">Account password*</label>
        <input type="password" name="password" value="[password]" tabindex="10" class="emu-text" /><span class="field-info">Passwords are case sensitive and must be between 6 - 20 characters long. Please use only letters or numbers.</span>
      </div>


    </div>
    
    <div class="emu-form-column column-two transparent">

      <div class="emu-form-row">
        <label for="email_confirm">Re-type email*</label>
        <input type="text" name="email_confirm" value="[email confirm]" tabindex="9" class="emu-text" />
      </div>

      <div class="emu-form-row">
        <label for="password_confirm">Re-type password*</label>
        <input type="password" name="password_confirm" value="[password confirm]" tabindex="11" class="emu-text" />
      </div>

    </div>      
    
    <p class="emu-clear-left">By creating an account with us, you consent to our Terms &amp; Conditions and Privacy Policy.</p>
    
    <p class="emu-action">
      <input type="submit" name="e-button" class="button" value="Submit" tabindex="14" />
      <input type="hidden" name="return" value="[return url]" />
      <input type="hidden" name="e-action" value="registration" />
      <input type="hidden" name="e-plugin" value="[emu component]" />
    </p>

  </form>
  <!-- / emu-registration -->

</div>
<!-- / emu-shop -->