<div class="emu-shop">

	<div class="emu-reviews-summary">

		<form method="post" action="" class="emu-product">

			<div class="product-image">
				<a class="thickbox" title="[product name]" href="[product image url]">[product image size five]</a>
			</div>

			<div class="product-details">

				<p class="product-category">[product categories]</p>
				<h1 class="product-name">[product name]</h1>
				<p class="product-rating">[rating stars large] <span>[rating summary]</span></p>
				<p>[product excerpt]</p>
				<p class="product-price">[price] [stock summary]</p>

				[product messages]

				[variants]

				<p class="actions">
					[conditional tag="quantity dropdown"]Qty. <select name="qty"><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option></select>[/conditional]
					<input type="submit" name="e-button" value="Add to Basket" />
					<input type="submit" name="e-button" value="Add to Wishlist" />
				</p>

			</div>

			<input type="hidden" name="p_id" value="[product id]" />
			<input type="hidden" name="e-action" value="products" />
			<input type="hidden" name="e-plugin" value="[emu component]" />

		</form>

		<div class="emu-clear-left"></div>

		<div class="emu-reviews">

			<h2><a name="reviews">Customer Reviews</a></h2>

			<div class="summary-table">
				[review summary table]
			</div>

			<div class="summary-header">
				<p>Average customer rating</p>
				<p>[average rating stars large]<span>[rating summary]</span></p>
			</div>

			<div class="emu-clear-left"></div>

			<div class="review-compare">

				<div class="helpful-favourable">

					<h3>The most helpful favorable review</h3>

					[template tag="most helpful favourable review"]
					<div class="emu-review-item">
						<div class="review-bg">

						<p class="helpful-summary">[helpful summary]</p>

						<h5>[rating stars small] <a href="[review link]">[review title]</a></h5>

						<p class="reviewer-info">by [reviewer], [review date] - <a href="[customer review link]">See all my reviews</a></p>

						[review text with quotes]

						</div>
					</div>
					[/template]
				</div>

				<div class="helpful-critical">

					<h3>The most helpful critical review</h3>

					[template tag="most helpful critical review"]
					<div class="emu-review-item">
						<div class="review-bg">

						<p class="helpful-summary">[helpful summary]</p>

						<h5>[rating stars small] <a href="[review link]">[review title]</a></h5>

						<p class="reviewer-info">by [reviewer], [review date] - <a href="[customer review link]">See all my reviews</a></p>

						[review text with quotes]

						</div>
					</div>
					[/template]

				</div>

				<div class="emu-clear-left"></div>

			</div>

			<h2>All Reviews</h2>

			[repeat tag="review"]
			<form method="post" action="" class="emu-review-item">

				<div class="review-bg">

					<p class="helpful-summary">[helpful summary]</p>

					<h5>[rating stars small] <a href="[review link]">[review title]</a></h5>

					<p class="reviewer-info">by [reviewer], [review date] - <a href="[customer review link]">See all my reviews</a></p>

					[review text with quotes]

					[comments]

					[conditional tag="review voting form"]
					<p class="review-voting">
						Was this review helpful to you?
						<input type="submit" name="e-button" value="Inappropriate?" /><input type="submit" name="e-button" value="No" /><input type="submit" name="e-button" value="Yes" />
					</p>
					[/conditional]

					<p class="leave-comment"><a href="[comment link]">Leave a comment</a></p>

				</div>

				<input type="hidden" name="review_id" value="[review id]" />
				<input type="hidden" name="e-action" value="customerReviews" />
				<input type="hidden" name="e-plugin" value="[emu component]" />

			</form>
			[/repeat]

		</div>
		<!-- / reviews -->

	</div>
	<!-- / emu-product -->

</div>
<!-- / emu-shop -->