<div class="emu-summary">

	<table>
	<tr>
		<th align="left" valign="top">Order Reference Number</th>
		<td align="left" valign="top"><strong>[order reference number]</strong></td>
	</tr>
	<tr>
		<th align="left" valign="top">Customer name</th>
		<td align="left" valign="top">[customer first name] [customer last name]</td>
	</tr>
	<tr>
		<th align="left" valign="top">Contact</th>
		<td align="left" valign="top">Email: [customer email]<br />[conditional tag="shipping"]Phone: [shipping phone number] [/conditional]</td>
	</tr>
	[conditional tag="billing"]
	<tr>
		<th align="left" valign="top">Address</th>
		<td align="left" valign="top">[billing address aggregate]</td>
	</tr>
	[/conditional]
	[conditional tag="shipping"]
	<tr>
		<th align="left" valign="top">Shipping To</th>
		<td align="left" valign="top">[shipping first name] [shipping last name]<br />[shipping address aggregate]</td>
	</tr>
	[/conditional]
	</table>

	<table>
	<tr>
		<th align="left" valign="top">Product</th>
		<td align="right" valign="top">Price</td>
	</tr>
	[template tag="order items"]
	<tr>
		<td align="left" valign="top">[description]<br />Unit price [price], <span>Qty. [quantity]</span></td>
		<td align="right" valign="top">[total]</td>
	</tr>
	[/template]
	[template tag="discounts"]
	<tr>
		<td align="left" valign="top">[description]</td>
		<td align="right" valign="top">-[total]</td>
	</tr>
	[/template]
	<tr>
		<th align="left" valign="top">Sub Total</th>
		<td align="right" valign="top">[order sub total]</td>
	</tr>
	[template tag="charges"]
	<tr>
		<td align="left" valign="top">[description]</td>
		<td align="right" valign="top">[total]</td>
	</tr>
	[/template]
	<tr>
		<th align="left" valign="top">Grand Total</th>
		<td align="right" valign="top">[order grand total]</td>
	</tr>
	[template tag="payments"]
	<tr>
		<td align="left" valign="top">[description]</td>
		<td align="right" valign="top">-[total]</td>
	</tr>
	[/template]
	<tr>
		<th align="left" valign="top">Amount Due</th>
		<td align="right" valign="top">[order amount due]</td>
	</tr>
	<tr>
		<th align="left" valign="top" colspan="2">Comments</th>
	</tr>
	<tr>
		<td align="left" valign="top" colspan="2">[order comments]</td>
	</tr>
	</table>

	[conditional tag="offline payment message"]
	<p><strong>Please note payment is required on delivery.</strong></p>
	[/conditional]


</div>
<!-- / emu-summary -->

