<div class="emu-shop">

	<div class="emu-thankyou">

		<h1>Payment Successful</h1>

		<ul class="shopping-steps">
			<li>1. Billing</li>
			<li>2. Order Review</li>
			<li>3. Payment</li>
			<li><strong>4. Order Confirmation</strong></li>
		</ul>

		<p>Your payment was successful and your order has been placed. Your order summary is below. A copy has also been sent to your email address (<strong>[email address]</strong>).</p>

		<span class="return"></span>

		<div class="payment-summary">

			[order summary]

		</div>

	</div>

</div>
<!-- / emu-shop -->

